.reg {
	max-width: 90%;
	margin: 0 auto;

	&-box {
		position: relative;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(336.56deg, #000000 58.12%, #FFFFFF 124.09%);
			opacity: 0.5;
			backdrop-filter: blur(50px);
		}
	}
	&-info{
		z-index: 1;
		&__text{
			font:700 64px/64px var(--font);
		}
	}
}