section.hero.section
	.container.hero__container.dg
		.hero-info.gr-a
			h1.hero__title.
				Zack Snyder's Justice League
			.hero-descr.df.al-c
				span.hero-descr__year 2021
				.hero-descr__age
					span.hero-descr__age-text 18+
				p.hero-descr__duration 4h 2min
				.hero-descr__star.df.al-c
					span.hero-descr__star-count 8.8
					svg(class="hero-descr__star-icon db")
						use(xlink:href="./images/sprite.svg#star")
			p.hero-descr__text.
				Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
			.hero-descr__link.df.al-c
				a.hero-descr__link-watch.df.al-c(href="#") Watch
				a.hero-descr__link-more.db(href="#") More information
		.hero-poster.gr-a
			img.hero-poster__img.db.lazy(data-src="./images/hero-bg.webp")