-
	let pageTitle = "Poster Justince League"

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/main.min.css")
		title= pageTitle
	body
		include components/header.pug
		main.main
			include components/hero.pug
			include components/poster.pug
			include components/genres.pug
			include components/populars.pug

		script(src="./js/main.min.js")